---
import type { portfolioTypes  } from '../utils/portfolio.types'

import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Profile from '../components/Profile.astro';

import { section } from '../utils/tailwind-styles'

const response = await fetch('https://659489fc1493b011606a9c42.mockapi.io/api/v1/portfolio');
const extract = await response.json();
const porfolio : portfolioTypes = extract[0];

const { projects } = porfolio;
---

<Layout title="Welcome to Astro.">
	<main>
		<div class={`px-4 md:px-0 ${section}`}>
			<Profile 
				{...porfolio}
			/>
		</div>

		<div class={`text-white pb-10 md:pb-0 px-4 md:px-0 ${section}`}>
			<h2 class="tracking-[.2rem] font-light text-md sm:text-lg mb-5">PROJECTS</h2>
			
			<ul role="list" class="flex flex-cols flex-wrap gap-y-8">
				{projects.map(({href, title, body, cover, tags}) => (
					<Card
						href={href}
						title={title}
						body={body}
						cover={cover}
						tags={tags}
					/>
				))}
			</ul>
		</div>
	</main>
</Layout>