---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Profile from '../components/Profile.astro';

import { section } from '../utils/tailwind-styles'

type projectsType = {
	title: string;
	body: string;
	href: string;
	cover: string;
	tags: string;
}

const response = await fetch('https://659489fc1493b011606a9c42.mockapi.io/api/v1/portfolio');
const projects : projectsType[] = await response.json();
---

<Layout title="Welcome to Astro.">
	<main>
		<div class={section}>
			<Profile />
		</div>

		<div class={`text-white ${section}`}>
			<h2 class="tracking-[.2rem] font-light text-md sm:text-lg mb-5">PROJECTS</h2>
			
			<ul role="list" class="flex flex-cols flex-wrap gap-y-8">
				{projects.map(({href, title, body, cover, tags}) => (
					<Card
						href={href}
						title={title}
						body={body}
						cover={cover}
						tags={tags}
					/>
				))}
			</ul>
		</div>
	</main>
</Layout>

<style>
	
</style>
