---
import type { portfolioTypes } from '../utils/portfolio.types';

import Social from './Social.astro';
import { isProd } from '../utils/envs';

interface Props extends portfolioTypes {}

const { avatar, fullName, position, bio, social } = Astro.props;
---

<div class="md:flex md:gap-12">
  <div class="flex-none w-[153px] h-[153px] border-2 primary-green-border bg-[#1e2127] rounded-full p-2 m-auto">
    <img 
      src={isProd ? `/portfolio/${avatar}` : avatar} alt="sebastian castro giraldo" class="object-cover"
      width="153"
      height="153"
    />
  </div>

  <div class="text-white mt-6 md:mt-0">
    <h1 class="font-medium tracking-[.2rem] text-lg sm:text-2xl md:text-left text-center uppercase">{fullName}</h1>

    <div class="text-center sm:flex items-center gap-1 justify-center md:justify-start mb-5">
      <h2 class="tracking-[.2rem] font-light text-md sm:text-lg uppercase">{position}</h2>
      <span class="font-bold primary-green-text text-xl">&lt;&gt;</span>
      
    </div>

    {social && (
      <div class="mb-6">
        <div class="flex items-center gap-2 justify-center md:justify-start">
          {social?.map(({title, url}) => (
            <Social title={title} url={url} />
          ))}
        </div>
      </div>
    )}
    
    <p class="text-sm font-light tracking-[1px] text-center md:text-left mt-3">"{bio}"</p>
  </div>
</div>